<!DOCTYPE html>
<html>
<head>
<% include _head.html %>
<title>index</title>
<style type="text/css">
.content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}	
</style>
</head>
<body ontouchstart>
<div class="content">
	<div style="height: 700px">weqwe</div>
</div>
<% include _foot.html %>
<script type="text/javascript">
	var ScrollFix = function(elem) {
    	var startY, startTopScroll;
    	elem = elem || document.querySelector(elem);
    	if(!elem)
    		return;
    	elem.addEventListener('touchstart', function(event){
    		startY = event.touches[0].pageY;
    		startTopScroll = elem.scrollTop;
    		if(startTopScroll <= 0)
    			elem.scrollTop = 1;
    		if(startTopScroll + elem.offsetHeight >= elem.scrollHeight)
    			elem.scrollTop = elem.scrollHeight - elem.offsetHeight - 15;
    	}, false);
    };
    var scrollable = document.querySelector(".content");
    new ScrollFix(scrollable);
</script>
</body>
</html>
